<div class="overflow-x-auto">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list %}
            <tr class="hover">
                <th>{{ item.id }}</th>
                <td>{{ item.author }}</td>
                <td>
                    <a href="{{ path('article', {'id': item.id}) }}" class="link">
                        {{ item.title }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
